<template>
  <div id="app">
    <ribbon></ribbon>
    <div style="position:fixed!important; top: 50%!important; z-index:1!important;">
        <sidebar></sidebar>
    </div>
    <div id="app-header">
      <jhi-navbar></jhi-navbar>
    </div>
    <div class="container-fluid">
      <div class="card jh-card" style="margin-top: 0px!important;">
        <router-view></router-view>
      </div>
      <b-modal id="login-page" hide-footer lazy>
        <span slot="modal-title" id="login-title">Sign in</span>
        <login-form></login-form>
      </b-modal>

      <!--
      <jhi-footer></jhi-footer>
      -->
    </div>
  </div>
</template>

<script lang="ts" src="./app.component.ts">
</script>
