<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="version">
                <h2 class="jh-entity-heading"><span>Version</span> {{version.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{version.nom}}</span>
                    </dd>
                    <dt>
                        <span>Date Mise Prod</span>
                    </dt>
                    <dd>
                        <span>{{version.dateMiseProd | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Application</span>
                    </dt>
                    <dd>
                        <div v-if="version.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: version.application.id}}">{{version.application.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="version.id" :to="{name: 'VersionEdit', params: {versionId: version.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./version-details.component.ts">
</script>
