<template>
    <div>
        <h2 id="page-heading">
            <span id="version-heading">Versions</span>
            <router-link :to="{name: 'VersionCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-version">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Version
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && versions && versions.length === 0">
            <span>No versions found</span>
        </div>
        <div class="table-responsive" v-if="versions && versions.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateMiseProd')"><span>Date Mise Prod</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateMiseProd'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('application.id')"><span>Application</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'application.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="version in versions"
                    :key="version.id">
                    <td>
                        <router-link :to="{name: 'VersionView', params: {versionId: version.id}}">{{version.id}}</router-link>
                    </td>
                    <td>{{version.nom}}</td>
                    <td>{{version.dateMiseProd | formatDate}}</td>
                    <td>
                        <div v-if="version.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: version.application.id}}">{{version.application.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'VersionView', params: {versionId: version.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'VersionEdit', params: {versionId: version.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(version)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.version.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-version-heading">Are you sure you want to delete this Version?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-version" v-on:click="removeVersion()">Delete</button>
            </div>
        </b-modal>
        <div v-show="versions && versions.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./version.component.ts">
</script>
