<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.version.home.createOrEditLabel">Create or edit a Version</h2>
                <div>
                    <div class="form-group" v-if="version.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="version.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="version-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="version-nom"
                            :class="{'valid': !$v.version.nom.$invalid, 'invalid': $v.version.nom.$invalid }" v-model="$v.version.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="version-dateMiseProd">Date Mise Prod</label>
                        <div class="d-flex">
                            <input id="version-dateMiseProd" type="datetime-local" class="form-control" name="dateMiseProd" :class="{'valid': !$v.version.dateMiseProd.$invalid, 'invalid': $v.version.dateMiseProd.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.version.dateMiseProd.$model)"
                            @change="updateInstantField('dateMiseProd', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="version-application">Application</label>
                        <select class="form-control" id="version-application" name="application" v-model="version.application">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="version.application && applicationOption.id === version.application.id ? version.application : applicationOption" v-for="applicationOption in applications" :key="applicationOption.id">{{applicationOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.version.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./version-update.component.ts">
</script>
