<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="fonctionnalite">
                <h2 class="jh-entity-heading"><span>Fonctionnalite</span> {{fonctionnalite.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{fonctionnalite.nom}}</span>
                    </dd>
                    <dt>
                        <span>Description</span>
                    </dt>
                    <dd>
                        <span>{{fonctionnalite.description}}</span>
                    </dd>
                    <dt>
                        <span>Est Active</span>
                    </dt>
                    <dd>
                        <span>{{fonctionnalite.estActive}}</span>
                    </dd>
                    <dt>
                        <span>Chapitre</span>
                    </dt>
                    <dd>
                        <div v-if="fonctionnalite.chapitre">
                            <router-link :to="{name: 'ChapitreView', params: {chapitreId: fonctionnalite.chapitre.id}}">{{fonctionnalite.chapitre.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="fonctionnalite.id" :to="{name: 'FonctionnaliteEdit', params: {fonctionnaliteId: fonctionnalite.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./fonctionnalite-details.component.ts">
</script>
