<template>
    <div>
        <h2 id="page-heading">
            <span id="fonctionnalite-heading">Fonctionnalites</span>
            <router-link :to="{name: 'FonctionnaliteCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fonctionnalite">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Fonctionnalite
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && fonctionnalites && fonctionnalites.length === 0">
            <span>No fonctionnalites found</span>
        </div>
        <div class="table-responsive" v-if="fonctionnalites && fonctionnalites.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('description')"><span>Description</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('estActive')"><span>Est Active</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'estActive'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('chapitre.id')"><span>Chapitre</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'chapitre.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="fonctionnalite in fonctionnalites"
                    :key="fonctionnalite.id">
                    <td>
                        <router-link :to="{name: 'FonctionnaliteView', params: {fonctionnaliteId: fonctionnalite.id}}">{{fonctionnalite.id}}</router-link>
                    </td>
                    <td>{{fonctionnalite.nom}}</td>
                    <td>{{fonctionnalite.description}}</td>
                    <td>{{fonctionnalite.estActive}}</td>
                    <td>
                        <div v-if="fonctionnalite.chapitre">
                            <router-link :to="{name: 'ChapitreView', params: {chapitreId: fonctionnalite.chapitre.id}}">{{fonctionnalite.chapitre.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'FonctionnaliteView', params: {fonctionnaliteId: fonctionnalite.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'FonctionnaliteEdit', params: {fonctionnaliteId: fonctionnalite.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(fonctionnalite)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.fonctionnalite.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-fonctionnalite-heading">Are you sure you want to delete this Fonctionnalite?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-fonctionnalite" v-on:click="removeFonctionnalite()">Delete</button>
            </div>
        </b-modal>
        <div v-show="fonctionnalites && fonctionnalites.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./fonctionnalite.component.ts">
</script>
