<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.fonctionnalite.home.createOrEditLabel">Create or edit a Fonctionnalite</h2>
                <div>
                    <div class="form-group" v-if="fonctionnalite.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="fonctionnalite.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="fonctionnalite-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="fonctionnalite-nom"
                            :class="{'valid': !$v.fonctionnalite.nom.$invalid, 'invalid': $v.fonctionnalite.nom.$invalid }" v-model="$v.fonctionnalite.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="fonctionnalite-description">Description</label>
                        <input type="text" class="form-control" name="description" id="fonctionnalite-description"
                            :class="{'valid': !$v.fonctionnalite.description.$invalid, 'invalid': $v.fonctionnalite.description.$invalid }" v-model="$v.fonctionnalite.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="fonctionnalite-estActive">Est Active</label>
                        <input type="number" class="form-control" name="estActive" id="fonctionnalite-estActive"
                            :class="{'valid': !$v.fonctionnalite.estActive.$invalid, 'invalid': $v.fonctionnalite.estActive.$invalid }" v-model.number="$v.fonctionnalite.estActive.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="fonctionnalite-chapitre">Chapitre</label>
                        <select class="form-control" id="fonctionnalite-chapitre" name="chapitre" v-model="fonctionnalite.chapitre">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="fonctionnalite.chapitre && chapitreOption.id === fonctionnalite.chapitre.id ? fonctionnalite.chapitre : chapitreOption" v-for="chapitreOption in chapitres" :key="chapitreOption.id">{{chapitreOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.fonctionnalite.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./fonctionnalite-update.component.ts">
</script>
