<template>
    <div>
        <b-card class="tabs-parent" no-body>
            <b-tabs v-model="tabIndex" variant="dark" card>
                <b-tab title="Gérer les applications" :title-link-class="linkClass(0)">
                    <gererApplications></gererApplications>
                </b-tab>
                <b-tab title="Gérer les utilisateurs" :title-link-class="linkClass(1)">
                    <gererUtilisateurs></gererUtilisateurs>
                </b-tab>
                <b-tab title="Gérer les chiers de tests" :title-link-class="linkClass(2)">
                    <gererCahiers></gererCahiers>
                </b-tab>
                <b-tab title="Gérer les campagnes" :title-link-class="linkClass(3)">
                    <gererCampagnes></gererCampagnes>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script lang="ts" src="./administration.component.ts">

</script>

<style>

</style>
