<template>
    <div>
        <h2 id="page-heading">
            <span id="utilisateur-heading">Utilisateurs</span>
            <router-link :to="{name: 'UtilisateurCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utilisateur">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Utilisateur
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && utilisateurs && utilisateurs.length === 0">
            <span>No utilisateurs found</span>
        </div>
        <div class="table-responsive" v-if="utilisateurs && utilisateurs.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('prenom')"><span>Prenom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'prenom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('email')"><span>Email</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'email'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('application.id')"><span>Application</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'application.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="utilisateur in utilisateurs"
                    :key="utilisateur.id">
                    <td>
                        <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: utilisateur.id}}">{{utilisateur.id}}</router-link>
                    </td>
                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                    <td>{{utilisateur.email}}</td>
                    <td>
                        <div v-if="utilisateur.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: utilisateur.application.id}}">{{utilisateur.application.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: utilisateur.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'UtilisateurEdit', params: {utilisateurId: utilisateur.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(utilisateur)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.utilisateur.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-utilisateur-heading">Are you sure you want to delete this Utilisateur?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-utilisateur" v-on:click="removeUtilisateur()">Delete</button>
            </div>
        </b-modal>
        <div v-show="utilisateurs && utilisateurs.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./utilisateur.component.ts">
</script>
