<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="utilisateur">
                <h2 class="jh-entity-heading"><span>Utilisateur</span> {{utilisateur.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{utilisateur.nom}}</span>
                    </dd>
                    <dt>
                        <span>Prenom</span>
                    </dt>
                    <dd>
                        <span>{{utilisateur.prenom}}</span>
                    </dd>
                    <dt>
                        <span>Email</span>
                    </dt>
                    <dd>
                        <span>{{utilisateur.email}}</span>
                    </dd>
                    <dt>
                        <span>Application</span>
                    </dt>
                    <dd>
                        <div v-if="utilisateur.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: utilisateur.application.id}}">{{utilisateur.application.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="utilisateur.id" :to="{name: 'UtilisateurEdit', params: {utilisateurId: utilisateur.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./utilisateur-details.component.ts">
</script>
