<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.utilisateur.home.createOrEditLabel">Create or edit a Utilisateur</h2>
                <div>
                    <div class="form-group" v-if="utilisateur.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="utilisateur.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="utilisateur-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="utilisateur-nom"
                            :class="{'valid': !$v.utilisateur.nom.$invalid, 'invalid': $v.utilisateur.nom.$invalid }" v-model="$v.utilisateur.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="utilisateur-prenom">Prenom</label>
                        <input type="text" class="form-control" name="prenom" id="utilisateur-prenom"
                            :class="{'valid': !$v.utilisateur.prenom.$invalid, 'invalid': $v.utilisateur.prenom.$invalid }" v-model="$v.utilisateur.prenom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="utilisateur-email">Email</label>
                        <input type="text" class="form-control" name="email" id="utilisateur-email"
                            :class="{'valid': !$v.utilisateur.email.$invalid, 'invalid': $v.utilisateur.email.$invalid }" v-model="$v.utilisateur.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="utilisateur-application">Application</label>
                        <select class="form-control" id="utilisateur-application" name="application" v-model="utilisateur.application">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="utilisateur.application && applicationOption.id === utilisateur.application.id ? utilisateur.application : applicationOption" v-for="applicationOption in applications" :key="applicationOption.id">{{applicationOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.utilisateur.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./utilisateur-update.component.ts">
</script>
