<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.domaine.home.createOrEditLabel">Create or edit a Domaine</h2>
                <div>
                    <div class="form-group" v-if="domaine.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="domaine.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="domaine-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="domaine-nom"
                            :class="{'valid': !$v.domaine.nom.$invalid, 'invalid': $v.domaine.nom.$invalid }" v-model="$v.domaine.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="domaine-application">Application</label>
                        <select class="form-control" id="domaine-application" name="application" v-model="domaine.application">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="domaine.application && applicationOption.id === domaine.application.id ? domaine.application : applicationOption" v-for="applicationOption in applications" :key="applicationOption.id">{{applicationOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.domaine.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./domaine-update.component.ts">
</script>
