<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="domaine">
                <h2 class="jh-entity-heading"><span>Domaine</span> {{domaine.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{domaine.nom}}</span>
                    </dd>
                    <dt>
                        <span>Application</span>
                    </dt>
                    <dd>
                        <div v-if="domaine.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: domaine.application.id}}">{{domaine.application.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="domaine.id" :to="{name: 'DomaineEdit', params: {domaineId: domaine.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./domaine-details.component.ts">
</script>
