<template>
    <div>
        <h1 v-if="application !== null"> {{ application.nom }} - {{ nomEnv }} - {{ versionEnv }}</h1>
        <h1 v-else> Aucune application selecctionnée </h1>
    </div>
</template>

<script lang="ts" src="./infosDashboard.component.ts">

</script>
