<template>
    <div>
        <h1>Gestion des utilisateurs</h1>
        <br/>

        <userManagement></userManagement>
    </div>
</template>

<script lang="ts" src="./gererUtilisateurs.component.ts">

</script>
ch
