<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="responsabiliteCahier">
                <h2 class="jh-entity-heading"><span>ResponsabiliteCahier</span> {{responsabiliteCahier.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Date</span>
                    </dt>
                    <dd>
                        <span>{{responsabiliteCahier.date | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Utilisateur</span>
                    </dt>
                    <dd>
                        <div v-if="responsabiliteCahier.utilisateur">
                            <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: responsabiliteCahier.utilisateur.id}}">{{responsabiliteCahier.utilisateur.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Cahier</span>
                    </dt>
                    <dd>
                        <div v-if="responsabiliteCahier.cahier">
                            <router-link :to="{name: 'CahierView', params: {cahierId: responsabiliteCahier.cahier.id}}">{{responsabiliteCahier.cahier.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="responsabiliteCahier.id" :to="{name: 'ResponsabiliteCahierEdit', params: {responsabiliteCahierId: responsabiliteCahier.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./responsabilite-cahier-details.component.ts">
</script>
