<template>
    <div>
        <h2 id="page-heading">
            <span id="responsabilite-cahier-heading">Responsabilite Cahiers</span>
            <router-link :to="{name: 'ResponsabiliteCahierCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-responsabilite-cahier">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Responsabilite Cahier
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && responsabiliteCahiers && responsabiliteCahiers.length === 0">
            <span>No responsabiliteCahiers found</span>
        </div>
        <div class="table-responsive" v-if="responsabiliteCahiers && responsabiliteCahiers.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span>Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('utilisateur.id')"><span>Utilisateur</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'utilisateur.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('cahier.id')"><span>Cahier</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'cahier.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="responsabiliteCahier in responsabiliteCahiers"
                    :key="responsabiliteCahier.id">
                    <td>
                        <router-link :to="{name: 'ResponsabiliteCahierView', params: {responsabiliteCahierId: responsabiliteCahier.id}}">{{responsabiliteCahier.id}}</router-link>
                    </td>
                    <td>{{responsabiliteCahier.date | formatDate}}</td>
                    <td>
                        <div v-if="responsabiliteCahier.utilisateur">
                            <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: responsabiliteCahier.utilisateur.id}}">{{responsabiliteCahier.utilisateur.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="responsabiliteCahier.cahier">
                            <router-link :to="{name: 'CahierView', params: {cahierId: responsabiliteCahier.cahier.id}}">{{responsabiliteCahier.cahier.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'ResponsabiliteCahierView', params: {responsabiliteCahierId: responsabiliteCahier.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'ResponsabiliteCahierEdit', params: {responsabiliteCahierId: responsabiliteCahier.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(responsabiliteCahier)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.responsabiliteCahier.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-responsabiliteCahier-heading">Are you sure you want to delete this Responsabilite Cahier?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-responsabiliteCahier" v-on:click="removeResponsabiliteCahier()">Delete</button>
            </div>
        </b-modal>
        <div v-show="responsabiliteCahiers && responsabiliteCahiers.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./responsabilite-cahier.component.ts">
</script>
