<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.responsabiliteCahier.home.createOrEditLabel">Create or edit a ResponsabiliteCahier</h2>
                <div>
                    <div class="form-group" v-if="responsabiliteCahier.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="responsabiliteCahier.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="responsabilite-cahier-date">Date</label>
                        <div class="d-flex">
                            <input id="responsabilite-cahier-date" type="datetime-local" class="form-control" name="date" :class="{'valid': !$v.responsabiliteCahier.date.$invalid, 'invalid': $v.responsabiliteCahier.date.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.responsabiliteCahier.date.$model)"
                            @change="updateInstantField('date', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="responsabilite-cahier-utilisateur">Utilisateur</label>
                        <select class="form-control" id="responsabilite-cahier-utilisateur" name="utilisateur" v-model="responsabiliteCahier.utilisateur">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="responsabiliteCahier.utilisateur && utilisateurOption.id === responsabiliteCahier.utilisateur.id ? responsabiliteCahier.utilisateur : utilisateurOption" v-for="utilisateurOption in utilisateurs" :key="utilisateurOption.id">{{utilisateurOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="responsabilite-cahier-cahier">Cahier</label>
                        <select class="form-control" id="responsabilite-cahier-cahier" name="cahier" v-model="responsabiliteCahier.cahier">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="responsabiliteCahier.cahier && cahierOption.id === responsabiliteCahier.cahier.id ? responsabiliteCahier.cahier : cahierOption" v-for="cahierOption in cahiers" :key="cahierOption.id">{{cahierOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.responsabiliteCahier.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./responsabilite-cahier-update.component.ts">
</script>
