<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.correctionPlannifiee.home.createOrEditLabel">Create or edit a CorrectionPlannifiee</h2>
                <div>
                    <div class="form-group" v-if="correctionPlannifiee.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="correctionPlannifiee.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="correction-plannifiee-date">Date</label>
                        <div class="d-flex">
                            <input id="correction-plannifiee-date" type="datetime-local" class="form-control" name="date" :class="{'valid': !$v.correctionPlannifiee.date.$invalid, 'invalid': $v.correctionPlannifiee.date.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.correctionPlannifiee.date.$model)"
                            @change="updateInstantField('date', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="correction-plannifiee-version">Version</label>
                        <select class="form-control" id="correction-plannifiee-version" name="version" v-model="correctionPlannifiee.version">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="correctionPlannifiee.version && versionOption.id === correctionPlannifiee.version.id ? correctionPlannifiee.version : versionOption" v-for="versionOption in versions" :key="versionOption.id">{{versionOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="correction-plannifiee-anomalie">Anomalie</label>
                        <select class="form-control" id="correction-plannifiee-anomalie" name="anomalie" v-model="correctionPlannifiee.anomalie">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="correctionPlannifiee.anomalie && anomalieOption.id === correctionPlannifiee.anomalie.id ? correctionPlannifiee.anomalie : anomalieOption" v-for="anomalieOption in anomalies" :key="anomalieOption.id">{{anomalieOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.correctionPlannifiee.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./correction-plannifiee-update.component.ts">
</script>
