<template>
    <div>
        <h2 id="page-heading">
            <span id="correction-plannifiee-heading">Correction Plannifiees</span>
            <router-link :to="{name: 'CorrectionPlannifieeCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correction-plannifiee">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Correction Plannifiee
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && correctionPlannifiees && correctionPlannifiees.length === 0">
            <span>No correctionPlannifiees found</span>
        </div>
        <div class="table-responsive" v-if="correctionPlannifiees && correctionPlannifiees.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span>Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('version.id')"><span>Version</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('anomalie.id')"><span>Anomalie</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'anomalie.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="correctionPlannifiee in correctionPlannifiees"
                    :key="correctionPlannifiee.id">
                    <td>
                        <router-link :to="{name: 'CorrectionPlannifieeView', params: {correctionPlannifieeId: correctionPlannifiee.id}}">{{correctionPlannifiee.id}}</router-link>
                    </td>
                    <td>{{correctionPlannifiee.date | formatDate}}</td>
                    <td>
                        <div v-if="correctionPlannifiee.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: correctionPlannifiee.version.id}}">{{correctionPlannifiee.version.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="correctionPlannifiee.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: correctionPlannifiee.anomalie.id}}">{{correctionPlannifiee.anomalie.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'CorrectionPlannifieeView', params: {correctionPlannifieeId: correctionPlannifiee.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'CorrectionPlannifieeEdit', params: {correctionPlannifieeId: correctionPlannifiee.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(correctionPlannifiee)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.correctionPlannifiee.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-correctionPlannifiee-heading">Are you sure you want to delete this Correction Plannifiee?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-correctionPlannifiee" v-on:click="removeCorrectionPlannifiee()">Delete</button>
            </div>
        </b-modal>
        <div v-show="correctionPlannifiees && correctionPlannifiees.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./correction-plannifiee.component.ts">
</script>
