<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="correctionPlannifiee">
                <h2 class="jh-entity-heading"><span>CorrectionPlannifiee</span> {{correctionPlannifiee.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Date</span>
                    </dt>
                    <dd>
                        <span>{{correctionPlannifiee.date | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Version</span>
                    </dt>
                    <dd>
                        <div v-if="correctionPlannifiee.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: correctionPlannifiee.version.id}}">{{correctionPlannifiee.version.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Anomalie</span>
                    </dt>
                    <dd>
                        <div v-if="correctionPlannifiee.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: correctionPlannifiee.anomalie.id}}">{{correctionPlannifiee.anomalie.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="correctionPlannifiee.id" :to="{name: 'CorrectionPlannifieeEdit', params: {correctionPlannifieeId: correctionPlannifiee.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./correction-plannifiee-details.component.ts">
</script>
