<template>
    <div>
        <b-table
            :striped="striped"
            :bordered="bordered"
            :borderless="borderless"
            :outlined="outlined"
            :small="small"
            :hover="hover"
            :dark="dark"
            :fixed="fixed"
            :foot-clone="footClone"
            :no-border-collapse="noCollapse"
            :items="items"
            :fields="fields"
            :head-variant="headVariant"
            :table-variant="tableVariant"
        >

        </b-table>
    </div>
</template>

<script lang="ts" src="./tableauEnvironnements.component.ts">

</script>
<!--
<script lang="ts" src="./tableauEnvironnements.component.ts">


</script>
-->
