<template>
  <div>
    <b-form-group v-if="application !== null">
      <b-form-radio-group v-if="options.length!=0"
                          ref="btn_env"
        id="choixEnv"
        v-model="environnementSelectionne"
        :options="options"
        buttons
        name="radios-btn-default"
        v-on:change="notifierChoixEnv($event)"
      ></b-form-radio-group>
    </b-form-group>

  </div>

</template>

<script lang="ts" src="./choixEnvironnement.component.ts">

</script>
