<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="application">
                <h2 class="jh-entity-heading"><span>Application</span> {{application.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{application.nom}}</span>
                    </dd>
                    <dt>
                        <span>Email</span>
                    </dt>
                    <dd>
                        <span>{{application.email}}</span>
                    </dd>
                    <dt>
                        <span>Date Ajout</span>
                    </dt>
                    <dd>
                        <span>{{application.dateAjout | formatDate}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="application.id" :to="{name: 'ApplicationEdit', params: {applicationId: application.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./application-details.component.ts">
</script>
