<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.application.home.createOrEditLabel">Create or edit a Application</h2>
                <div>
                    <div class="form-group" v-if="application.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="application.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="application-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="application-nom"
                            :class="{'valid': !$v.application.nom.$invalid, 'invalid': $v.application.nom.$invalid }" v-model="$v.application.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="application-email">Email</label>
                        <input type="text" class="form-control" name="email" id="application-email"
                            :class="{'valid': !$v.application.email.$invalid, 'invalid': $v.application.email.$invalid }" v-model="$v.application.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="application-dateAjout">Date Ajout</label>
                        <div class="d-flex">
                            <input id="application-dateAjout" type="datetime-local" class="form-control" name="dateAjout" :class="{'valid': !$v.application.dateAjout.$invalid, 'invalid': $v.application.dateAjout.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.application.dateAjout.$model)"
                            @change="updateInstantField('dateAjout', $event)"/>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.application.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./application-update.component.ts">
</script>
