<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.typeEnv.home.createOrEditLabel">Create or edit a TypeEnv</h2>
                <div>
                    <div class="form-group" v-if="typeEnv.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="typeEnv.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="type-env-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="type-env-nom"
                            :class="{'valid': !$v.typeEnv.nom.$invalid, 'invalid': $v.typeEnv.nom.$invalid }" v-model="$v.typeEnv.nom.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.typeEnv.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./type-env-update.component.ts">
</script>
