<template>
    <div>
        <h1>Gestion des cahiers de tests</h1>
        <br/>
        <br/>

        <cahier></cahier>
    </div>
</template>

<script lang="ts" src="./gererCahiers.component.ts">

</script>
