<template>
  <div>
    <!--
    <table>
          <thead>
            <tr>
              <th class="titre_tableau_appli"><span>Application</span> </th>
            </tr>
          </thead>
          <tbody>
          <tr v-for="application in applications"
            :key="application.id" >
          <td>{{application.nom}}</td>
          </tr>
      </tbody>
    </table>
    -->

<div v-for="item in items" :key="item.utilisateurs">{{item.utilisateurs}}</div>
    <b-table
      class="tableau_appli"
      ref="selectableTable"
      selectable
      small="small"
      :select-mode="selectMode"
      :items="items"
      :fields="fields"
      head-variant="dark"
      @row-selected="onRowSelected"
      responsive="sm"
    >
    
      <template v-slot:cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true">&check;</span>
          <span class="sr-only">Selected</span>
        </template>
        <template v-else>
          <span aria-hidden="true">&nbsp;</span>
          <span class="sr-only">Not selected</span>
        </template>
      </template>
    </b-table>
  </div>
</template>

<script lang="ts" src="./listeAppliDashboard.component.ts">

</script>

<style scoped>
  .tableau_appli {
    border-style: solid!important;
    border-width: 1px!important;
  }

</style>