<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="deploiement">
                <h2 class="jh-entity-heading"><span>Deploiement</span> {{deploiement.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Est Actif</span>
                    </dt>
                    <dd>
                        <span>{{deploiement.estActif}}</span>
                    </dd>
                    <dt>
                        <span>Date</span>
                    </dt>
                    <dd>
                        <span>{{deploiement.date | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Version</span>
                    </dt>
                    <dd>
                        <div v-if="deploiement.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: deploiement.version.id}}">{{deploiement.version.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Environnement</span>
                    </dt>
                    <dd>
                        <div v-if="deploiement.environnement">
                            <router-link :to="{name: 'EnvironnementView', params: {environnementId: deploiement.environnement.id}}">{{deploiement.environnement.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="deploiement.id" :to="{name: 'DeploiementEdit', params: {deploiementId: deploiement.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./deploiement-details.component.ts">
</script>
