<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.deploiement.home.createOrEditLabel">Create or edit a Deploiement</h2>
                <div>
                    <div class="form-group" v-if="deploiement.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="deploiement.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="deploiement-estActif">Est Actif</label>
                        <input type="number" class="form-control" name="estActif" id="deploiement-estActif"
                            :class="{'valid': !$v.deploiement.estActif.$invalid, 'invalid': $v.deploiement.estActif.$invalid }" v-model.number="$v.deploiement.estActif.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="deploiement-date">Date</label>
                        <div class="d-flex">
                            <input id="deploiement-date" type="datetime-local" class="form-control" name="date" :class="{'valid': !$v.deploiement.date.$invalid, 'invalid': $v.deploiement.date.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.deploiement.date.$model)"
                            @change="updateInstantField('date', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="deploiement-version">Version</label>
                        <select class="form-control" id="deploiement-version" name="version" v-model="deploiement.version">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="deploiement.version && versionOption.id === deploiement.version.id ? deploiement.version : versionOption" v-for="versionOption in versions" :key="versionOption.id">{{versionOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="deploiement-environnement">Environnement</label>
                        <select class="form-control" id="deploiement-environnement" name="environnement" v-model="deploiement.environnement">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="deploiement.environnement && environnementOption.id === deploiement.environnement.id ? deploiement.environnement : environnementOption" v-for="environnementOption in environnements" :key="environnementOption.id">{{environnementOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.deploiement.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./deploiement-update.component.ts">
</script>
