<template>
    <div>
        <h2 id="page-heading">
            <span id="deploiement-heading">Deploiements</span>
            <router-link :to="{name: 'DeploiementCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deploiement">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Deploiement
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && deploiements && deploiements.length === 0">
            <span>No deploiements found</span>
        </div>
        <div class="table-responsive" v-if="deploiements && deploiements.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('estActif')"><span>Est Actif</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'estActif'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span>Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('version.id')"><span>Version</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('environnement.id')"><span>Environnement</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'environnement.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="deploiement in deploiements"
                    :key="deploiement.id">
                    <td>
                        <router-link :to="{name: 'DeploiementView', params: {deploiementId: deploiement.id}}">{{deploiement.id}}</router-link>
                    </td>
                    <td>{{deploiement.estActif}}</td>
                    <td>{{deploiement.date | formatDate}}</td>
                    <td>
                        <div v-if="deploiement.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: deploiement.version.id}}">{{deploiement.version.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="deploiement.environnement">
                            <router-link :to="{name: 'EnvironnementView', params: {environnementId: deploiement.environnement.id}}">{{deploiement.environnement.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'DeploiementView', params: {deploiementId: deploiement.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'DeploiementEdit', params: {deploiementId: deploiement.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(deploiement)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.deploiement.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-deploiement-heading">Are you sure you want to delete this Deploiement?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-deploiement" v-on:click="removeDeploiement()">Delete</button>
            </div>
        </b-modal>
        <div v-show="deploiements && deploiements.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./deploiement.component.ts">
</script>
