<template>
    <div>
        <h2 id="page-heading">
            <span id="anomalie-etablissement-heading">Anomalie Etablissements</span>
            <router-link :to="{name: 'AnomalieEtablissementCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-anomalie-etablissement">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Anomalie Etablissement
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && anomalieEtablissements && anomalieEtablissements.length === 0">
            <span>No anomalieEtablissements found</span>
        </div>
        <div class="table-responsive" v-if="anomalieEtablissements && anomalieEtablissements.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span>Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('anomalie.id')"><span>Anomalie</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'anomalie.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('etablissement.id')"><span>Etablissement</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'etablissement.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="anomalieEtablissement in anomalieEtablissements"
                    :key="anomalieEtablissement.id">
                    <td>
                        <router-link :to="{name: 'AnomalieEtablissementView', params: {anomalieEtablissementId: anomalieEtablissement.id}}">{{anomalieEtablissement.id}}</router-link>
                    </td>
                    <td>{{anomalieEtablissement.date | formatDate}}</td>
                    <td>
                        <div v-if="anomalieEtablissement.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalieEtablissement.anomalie.id}}">{{anomalieEtablissement.anomalie.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="anomalieEtablissement.etablissement">
                            <router-link :to="{name: 'EtablissementView', params: {etablissementId: anomalieEtablissement.etablissement.id}}">{{anomalieEtablissement.etablissement.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'AnomalieEtablissementView', params: {anomalieEtablissementId: anomalieEtablissement.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'AnomalieEtablissementEdit', params: {anomalieEtablissementId: anomalieEtablissement.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(anomalieEtablissement)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.anomalieEtablissement.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-anomalieEtablissement-heading">Are you sure you want to delete this Anomalie Etablissement?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-anomalieEtablissement" v-on:click="removeAnomalieEtablissement()">Delete</button>
            </div>
        </b-modal>
        <div v-show="anomalieEtablissements && anomalieEtablissements.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./anomalie-etablissement.component.ts">
</script>
