<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.anomalieEtablissement.home.createOrEditLabel">Create or edit a AnomalieEtablissement</h2>
                <div>
                    <div class="form-group" v-if="anomalieEtablissement.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="anomalieEtablissement.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-etablissement-date">Date</label>
                        <div class="d-flex">
                            <input id="anomalie-etablissement-date" type="datetime-local" class="form-control" name="date" :class="{'valid': !$v.anomalieEtablissement.date.$invalid, 'invalid': $v.anomalieEtablissement.date.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.anomalieEtablissement.date.$model)"
                            @change="updateInstantField('date', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-etablissement-anomalie">Anomalie</label>
                        <select class="form-control" id="anomalie-etablissement-anomalie" name="anomalie" v-model="anomalieEtablissement.anomalie">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalieEtablissement.anomalie && anomalieOption.id === anomalieEtablissement.anomalie.id ? anomalieEtablissement.anomalie : anomalieOption" v-for="anomalieOption in anomalies" :key="anomalieOption.id">{{anomalieOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-etablissement-etablissement">Etablissement</label>
                        <select class="form-control" id="anomalie-etablissement-etablissement" name="etablissement" v-model="anomalieEtablissement.etablissement">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalieEtablissement.etablissement && etablissementOption.id === anomalieEtablissement.etablissement.id ? anomalieEtablissement.etablissement : etablissementOption" v-for="etablissementOption in etablissements" :key="etablissementOption.id">{{etablissementOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.anomalieEtablissement.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./anomalie-etablissement-update.component.ts">
</script>
