<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="anomalieEtablissement">
                <h2 class="jh-entity-heading"><span>AnomalieEtablissement</span> {{anomalieEtablissement.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Date</span>
                    </dt>
                    <dd>
                        <span>{{anomalieEtablissement.date | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Anomalie</span>
                    </dt>
                    <dd>
                        <div v-if="anomalieEtablissement.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalieEtablissement.anomalie.id}}">{{anomalieEtablissement.anomalie.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Etablissement</span>
                    </dt>
                    <dd>
                        <div v-if="anomalieEtablissement.etablissement">
                            <router-link :to="{name: 'EtablissementView', params: {etablissementId: anomalieEtablissement.etablissement.id}}">{{anomalieEtablissement.etablissement.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="anomalieEtablissement.id" :to="{name: 'AnomalieEtablissementEdit', params: {anomalieEtablissementId: anomalieEtablissement.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./anomalie-etablissement-details.component.ts">
</script>
