<template>
    <div>
        <h2 id="page-heading">
            <span id="campagne-heading">Campagnes</span>
            <router-link :to="{name: 'CampagneCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campagne">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Campagne
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && campagnes && campagnes.length === 0">
            <span>No campagnes found</span>
        </div>
        <div class="table-responsive" v-if="campagnes && campagnes.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateDebut')"><span>Date Debut</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateDebut'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateFin')"><span>Date Fin</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateFin'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('environnement.id')"><span>Environnement</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'environnement.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="campagne in campagnes"
                    :key="campagne.id">
                    <td>
                        <router-link :to="{name: 'CampagneView', params: {campagneId: campagne.id}}">{{campagne.id}}</router-link>
                    </td>
                    <td>{{campagne.nom}}</td>
                    <td>{{campagne.dateDebut | formatDate}}</td>
                    <td>{{campagne.dateFin | formatDate}}</td>
                    <td>
                        <div v-if="campagne.environnement">
                            <router-link :to="{name: 'EnvironnementView', params: {environnementId: campagne.environnement.id}}">{{campagne.environnement.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'CampagneView', params: {campagneId: campagne.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'CampagneEdit', params: {campagneId: campagne.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(campagne)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.campagne.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-campagne-heading">Are you sure you want to delete this Campagne?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-campagne" v-on:click="removeCampagne()">Delete</button>
            </div>
        </b-modal>
        <div v-show="campagnes && campagnes.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./campagne.component.ts">
</script>
