<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="campagne">
                <h2 class="jh-entity-heading"><span>Campagne</span> {{campagne.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{campagne.nom}}</span>
                    </dd>
                    <dt>
                        <span>Date Debut</span>
                    </dt>
                    <dd>
                        <span>{{campagne.dateDebut | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Date Fin</span>
                    </dt>
                    <dd>
                        <span>{{campagne.dateFin | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Environnement</span>
                    </dt>
                    <dd>
                        <div v-if="campagne.environnement">
                            <router-link :to="{name: 'EnvironnementView', params: {environnementId: campagne.environnement.id}}">{{campagne.environnement.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="campagne.id" :to="{name: 'CampagneEdit', params: {campagneId: campagne.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./campagne-details.component.ts">
</script>
