<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.campagne.home.createOrEditLabel">Create or edit a Campagne</h2>
                <div>
                    <div class="form-group" v-if="campagne.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="campagne.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="campagne-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="campagne-nom"
                            :class="{'valid': !$v.campagne.nom.$invalid, 'invalid': $v.campagne.nom.$invalid }" v-model="$v.campagne.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="campagne-dateDebut">Date Debut</label>
                        <div class="d-flex">
                            <input id="campagne-dateDebut" type="datetime-local" class="form-control" name="dateDebut" :class="{'valid': !$v.campagne.dateDebut.$invalid, 'invalid': $v.campagne.dateDebut.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.campagne.dateDebut.$model)"
                            @change="updateInstantField('dateDebut', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="campagne-dateFin">Date Fin</label>
                        <div class="d-flex">
                            <input id="campagne-dateFin" type="datetime-local" class="form-control" name="dateFin" :class="{'valid': !$v.campagne.dateFin.$invalid, 'invalid': $v.campagne.dateFin.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.campagne.dateFin.$model)"
                            @change="updateInstantField('dateFin', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="campagne-environnement">Environnement</label>
                        <select class="form-control" id="campagne-environnement" name="environnement" v-model="campagne.environnement">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="campagne.environnement && environnementOption.id === campagne.environnement.id ? campagne.environnement : environnementOption" v-for="environnementOption in environnements" :key="environnementOption.id">{{environnementOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.campagne.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./campagne-update.component.ts">
</script>
