<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="anomalie">
                <h2 class="jh-entity-heading"><span>Anomalie</span> {{anomalie.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Num Interne</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.numInterne}}</span>
                    </dd>
                    <dt>
                        <span>Num Externe</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.numExterne}}</span>
                    </dd>
                    <dt>
                        <span>Titre</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.titre}}</span>
                    </dd>
                    <dt>
                        <span>Description</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.description}}</span>
                    </dd>
                    <dt>
                        <span>Statut</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.statut}}</span>
                    </dd>
                    <dt>
                        <span>Criticite</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.criticite}}</span>
                    </dd>
                    <dt>
                        <span>Date Declaration</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.dateDeclaration | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Date Cloture</span>
                    </dt>
                    <dd>
                        <span>{{anomalie.dateCloture | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Utilisateur</span>
                    </dt>
                    <dd>
                        <div v-if="anomalie.utilisateur">
                            <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: anomalie.utilisateur.id}}">{{anomalie.utilisateur.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Version</span>
                    </dt>
                    <dd>
                        <div v-if="anomalie.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: anomalie.version.id}}">{{anomalie.version.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Anomalie</span>
                    </dt>
                    <dd>
                        <div v-if="anomalie.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalie.anomalie.id}}">{{anomalie.anomalie.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Suivi Campagne</span>
                    </dt>
                    <dd>
                        <div v-if="anomalie.suiviCampagne">
                            <router-link :to="{name: 'SuiviCampagneView', params: {suiviCampagneId: anomalie.suiviCampagne.id}}">{{anomalie.suiviCampagne.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Domaine</span>
                    </dt>
                    <dd>
                        <div v-if="anomalie.domaine">
                            <router-link :to="{name: 'DomaineView', params: {domaineId: anomalie.domaine.id}}">{{anomalie.domaine.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="anomalie.id" :to="{name: 'AnomalieEdit', params: {anomalieId: anomalie.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./anomalie-details.component.ts">
</script>
