<template>
    <div>
        <h2 id="page-heading">
            <span id="anomalie-heading">Anomalies</span>
            <router-link :to="{name: 'AnomalieCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-anomalie">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Anomalie
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && anomalies && anomalies.length === 0">
            <span>No anomalies found</span>
        </div>
        <div class="table-responsive" v-if="anomalies && anomalies.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('numInterne')"><span>Num Interne</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'numInterne'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('numExterne')"><span>Num Externe</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'numExterne'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('titre')"><span>Titre</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'titre'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('description')"><span>Description</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('statut')"><span>Statut</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'statut'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('criticite')"><span>Criticite</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'criticite'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateDeclaration')"><span>Date Declaration</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateDeclaration'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateCloture')"><span>Date Cloture</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateCloture'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('utilisateur.id')"><span>Utilisateur</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'utilisateur.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('version.id')"><span>Version</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('anomalie.id')"><span>Anomalie</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'anomalie.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('suiviCampagne.id')"><span>Suivi Campagne</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'suiviCampagne.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('domaine.id')"><span>Domaine</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'domaine.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="anomalie in anomalies"
                    :key="anomalie.id">
                    <td>
                        <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalie.id}}">{{anomalie.id}}</router-link>
                    </td>
                    <td>{{anomalie.numInterne}}</td>
                    <td>{{anomalie.numExterne}}</td>
                    <td>{{anomalie.titre}}</td>
                    <td>{{anomalie.description}}</td>
                    <td>{{anomalie.statut}}</td>
                    <td>{{anomalie.criticite}}</td>
                    <td>{{anomalie.dateDeclaration | formatDate}}</td>
                    <td>{{anomalie.dateCloture | formatDate}}</td>
                    <td>
                        <div v-if="anomalie.utilisateur">
                            <router-link :to="{name: 'UtilisateurView', params: {utilisateurId: anomalie.utilisateur.id}}">{{anomalie.utilisateur.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="anomalie.version">
                            <router-link :to="{name: 'VersionView', params: {versionId: anomalie.version.id}}">{{anomalie.version.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="anomalie.anomalie">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalie.anomalie.id}}">{{anomalie.anomalie.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="anomalie.suiviCampagne">
                            <router-link :to="{name: 'SuiviCampagneView', params: {suiviCampagneId: anomalie.suiviCampagne.id}}">{{anomalie.suiviCampagne.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="anomalie.domaine">
                            <router-link :to="{name: 'DomaineView', params: {domaineId: anomalie.domaine.id}}">{{anomalie.domaine.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'AnomalieView', params: {anomalieId: anomalie.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'AnomalieEdit', params: {anomalieId: anomalie.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(anomalie)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.anomalie.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-anomalie-heading">Are you sure you want to delete this Anomalie?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-anomalie" v-on:click="removeAnomalie()">Delete</button>
            </div>
        </b-modal>
        <div v-show="anomalies && anomalies.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./anomalie.component.ts">
</script>
