<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.anomalie.home.createOrEditLabel">Create or edit a Anomalie</h2>
                <div>
                    <div class="form-group" v-if="anomalie.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="anomalie.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-numInterne">Num Interne</label>
                        <input type="text" class="form-control" name="numInterne" id="anomalie-numInterne"
                            :class="{'valid': !$v.anomalie.numInterne.$invalid, 'invalid': $v.anomalie.numInterne.$invalid }" v-model="$v.anomalie.numInterne.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-numExterne">Num Externe</label>
                        <input type="text" class="form-control" name="numExterne" id="anomalie-numExterne"
                            :class="{'valid': !$v.anomalie.numExterne.$invalid, 'invalid': $v.anomalie.numExterne.$invalid }" v-model="$v.anomalie.numExterne.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-titre">Titre</label>
                        <input type="text" class="form-control" name="titre" id="anomalie-titre"
                            :class="{'valid': !$v.anomalie.titre.$invalid, 'invalid': $v.anomalie.titre.$invalid }" v-model="$v.anomalie.titre.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-description">Description</label>
                        <input type="text" class="form-control" name="description" id="anomalie-description"
                            :class="{'valid': !$v.anomalie.description.$invalid, 'invalid': $v.anomalie.description.$invalid }" v-model="$v.anomalie.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-statut">Statut</label>
                        <input type="text" class="form-control" name="statut" id="anomalie-statut"
                            :class="{'valid': !$v.anomalie.statut.$invalid, 'invalid': $v.anomalie.statut.$invalid }" v-model="$v.anomalie.statut.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-criticite">Criticite</label>
                        <input type="text" class="form-control" name="criticite" id="anomalie-criticite"
                            :class="{'valid': !$v.anomalie.criticite.$invalid, 'invalid': $v.anomalie.criticite.$invalid }" v-model="$v.anomalie.criticite.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-dateDeclaration">Date Declaration</label>
                        <div class="d-flex">
                            <input id="anomalie-dateDeclaration" type="datetime-local" class="form-control" name="dateDeclaration" :class="{'valid': !$v.anomalie.dateDeclaration.$invalid, 'invalid': $v.anomalie.dateDeclaration.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.anomalie.dateDeclaration.$model)"
                            @change="updateInstantField('dateDeclaration', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-dateCloture">Date Cloture</label>
                        <div class="d-flex">
                            <input id="anomalie-dateCloture" type="datetime-local" class="form-control" name="dateCloture" :class="{'valid': !$v.anomalie.dateCloture.$invalid, 'invalid': $v.anomalie.dateCloture.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.anomalie.dateCloture.$model)"
                            @change="updateInstantField('dateCloture', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-utilisateur">Utilisateur</label>
                        <select class="form-control" id="anomalie-utilisateur" name="utilisateur" v-model="anomalie.utilisateur">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalie.utilisateur && utilisateurOption.id === anomalie.utilisateur.id ? anomalie.utilisateur : utilisateurOption" v-for="utilisateurOption in utilisateurs" :key="utilisateurOption.id">{{utilisateurOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-version">Version</label>
                        <select class="form-control" id="anomalie-version" name="version" v-model="anomalie.version">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalie.version && versionOption.id === anomalie.version.id ? anomalie.version : versionOption" v-for="versionOption in versions" :key="versionOption.id">{{versionOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-anomalie">Anomalie</label>
                        <select class="form-control" id="anomalie-anomalie" name="anomalie" v-model="anomalie.anomalie">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalie.anomalie && anomalieOption.id === anomalie.anomalie.id ? anomalie.anomalie : anomalieOption" v-for="anomalieOption in anomalies" :key="anomalieOption.id">{{anomalieOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-suiviCampagne">Suivi Campagne</label>
                        <select class="form-control" id="anomalie-suiviCampagne" name="suiviCampagne" v-model="anomalie.suiviCampagne">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalie.suiviCampagne && suiviCampagneOption.id === anomalie.suiviCampagne.id ? anomalie.suiviCampagne : suiviCampagneOption" v-for="suiviCampagneOption in suiviCampagnes" :key="suiviCampagneOption.id">{{suiviCampagneOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="anomalie-domaine">Domaine</label>
                        <select class="form-control" id="anomalie-domaine" name="domaine" v-model="anomalie.domaine">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="anomalie.domaine && domaineOption.id === anomalie.domaine.id ? anomalie.domaine : domaineOption" v-for="domaineOption in domaines" :key="domaineOption.id">{{domaineOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.anomalie.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./anomalie-update.component.ts">
</script>
