<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="suiviCampagne">
                <h2 class="jh-entity-heading"><span>SuiviCampagne</span> {{suiviCampagne.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Etat</span>
                    </dt>
                    <dd>
                        <span>{{suiviCampagne.etat}}</span>
                    </dd>
                    <dt>
                        <span>Date</span>
                    </dt>
                    <dd>
                        <span>{{suiviCampagne.date | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Fonctionnalite</span>
                    </dt>
                    <dd>
                        <div v-if="suiviCampagne.fonctionnalite">
                            <router-link :to="{name: 'FonctionnaliteView', params: {fonctionnaliteId: suiviCampagne.fonctionnalite.id}}">{{suiviCampagne.fonctionnalite.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Campagne</span>
                    </dt>
                    <dd>
                        <div v-if="suiviCampagne.campagne">
                            <router-link :to="{name: 'CampagneView', params: {campagneId: suiviCampagne.campagne.id}}">{{suiviCampagne.campagne.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="suiviCampagne.id" :to="{name: 'SuiviCampagneEdit', params: {suiviCampagneId: suiviCampagne.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./suivi-campagne-details.component.ts">
</script>
