<template>
    <div>
        <h2 id="page-heading">
            <span id="suivi-campagne-heading">Suivi Campagnes</span>
            <router-link :to="{name: 'SuiviCampagneCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suivi-campagne">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Suivi Campagne
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && suiviCampagnes && suiviCampagnes.length === 0">
            <span>No suiviCampagnes found</span>
        </div>
        <div class="table-responsive" v-if="suiviCampagnes && suiviCampagnes.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('etat')"><span>Etat</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'etat'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('date')"><span>Date</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'date'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('fonctionnalite.id')"><span>Fonctionnalite</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'fonctionnalite.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('campagne.id')"><span>Campagne</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'campagne.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="suiviCampagne in suiviCampagnes"
                    :key="suiviCampagne.id">
                    <td>
                        <router-link :to="{name: 'SuiviCampagneView', params: {suiviCampagneId: suiviCampagne.id}}">{{suiviCampagne.id}}</router-link>
                    </td>
                    <td>{{suiviCampagne.etat}}</td>
                    <td>{{suiviCampagne.date | formatDate}}</td>
                    <td>
                        <div v-if="suiviCampagne.fonctionnalite">
                            <router-link :to="{name: 'FonctionnaliteView', params: {fonctionnaliteId: suiviCampagne.fonctionnalite.id}}">{{suiviCampagne.fonctionnalite.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="suiviCampagne.campagne">
                            <router-link :to="{name: 'CampagneView', params: {campagneId: suiviCampagne.campagne.id}}">{{suiviCampagne.campagne.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'SuiviCampagneView', params: {suiviCampagneId: suiviCampagne.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'SuiviCampagneEdit', params: {suiviCampagneId: suiviCampagne.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(suiviCampagne)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.suiviCampagne.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-suiviCampagne-heading">Are you sure you want to delete this Suivi Campagne?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-suiviCampagne" v-on:click="removeSuiviCampagne()">Delete</button>
            </div>
        </b-modal>
        <div v-show="suiviCampagnes && suiviCampagnes.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./suivi-campagne.component.ts">
</script>
