<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.suiviCampagne.home.createOrEditLabel">Create or edit a SuiviCampagne</h2>
                <div>
                    <div class="form-group" v-if="suiviCampagne.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="suiviCampagne.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="suivi-campagne-etat">Etat</label>
                        <input type="text" class="form-control" name="etat" id="suivi-campagne-etat"
                            :class="{'valid': !$v.suiviCampagne.etat.$invalid, 'invalid': $v.suiviCampagne.etat.$invalid }" v-model="$v.suiviCampagne.etat.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="suivi-campagne-date">Date</label>
                        <div class="d-flex">
                            <input id="suivi-campagne-date" type="datetime-local" class="form-control" name="date" :class="{'valid': !$v.suiviCampagne.date.$invalid, 'invalid': $v.suiviCampagne.date.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.suiviCampagne.date.$model)"
                            @change="updateInstantField('date', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="suivi-campagne-fonctionnalite">Fonctionnalite</label>
                        <select class="form-control" id="suivi-campagne-fonctionnalite" name="fonctionnalite" v-model="suiviCampagne.fonctionnalite">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="suiviCampagne.fonctionnalite && fonctionnaliteOption.id === suiviCampagne.fonctionnalite.id ? suiviCampagne.fonctionnalite : fonctionnaliteOption" v-for="fonctionnaliteOption in fonctionnalites" :key="fonctionnaliteOption.id">{{fonctionnaliteOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="suivi-campagne-campagne">Campagne</label>
                        <select class="form-control" id="suivi-campagne-campagne" name="campagne" v-model="suiviCampagne.campagne">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="suiviCampagne.campagne && campagneOption.id === suiviCampagne.campagne.id ? suiviCampagne.campagne : campagneOption" v-for="campagneOption in campagnes" :key="campagneOption.id">{{campagneOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.suiviCampagne.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./suivi-campagne-update.component.ts">
</script>
