<template>
    <div>
        <h2 id="page-heading">
            <span id="chapitre-heading">Chapitres</span>
            <router-link :to="{name: 'ChapitreCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chapitre">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Chapitre
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && chapitres && chapitres.length === 0">
            <span>No chapitres found</span>
        </div>
        <div class="table-responsive" v-if="chapitres && chapitres.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateMaj')"><span>Date Maj</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateMaj'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('cahier.id')"><span>Cahier</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'cahier.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="chapitre in chapitres"
                    :key="chapitre.id">
                    <td>
                        <router-link :to="{name: 'ChapitreView', params: {chapitreId: chapitre.id}}">{{chapitre.id}}</router-link>
                    </td>
                    <td>{{chapitre.nom}}</td>
                    <td>{{chapitre.dateMaj | formatDate}}</td>
                    <td>
                        <div v-if="chapitre.cahier">
                            <router-link :to="{name: 'CahierView', params: {cahierId: chapitre.cahier.id}}">{{chapitre.cahier.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'ChapitreView', params: {chapitreId: chapitre.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'ChapitreEdit', params: {chapitreId: chapitre.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(chapitre)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.chapitre.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-chapitre-heading">Are you sure you want to delete this Chapitre?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-chapitre" v-on:click="removeChapitre()">Delete</button>
            </div>
        </b-modal>
        <div v-show="chapitres && chapitres.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./chapitre.component.ts">
</script>
