<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.chapitre.home.createOrEditLabel">Create or edit a Chapitre</h2>
                <div>
                    <div class="form-group" v-if="chapitre.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="chapitre.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="chapitre-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="chapitre-nom"
                            :class="{'valid': !$v.chapitre.nom.$invalid, 'invalid': $v.chapitre.nom.$invalid }" v-model="$v.chapitre.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="chapitre-dateMaj">Date Maj</label>
                        <div class="d-flex">
                            <input id="chapitre-dateMaj" type="datetime-local" class="form-control" name="dateMaj" :class="{'valid': !$v.chapitre.dateMaj.$invalid, 'invalid': $v.chapitre.dateMaj.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.chapitre.dateMaj.$model)"
                            @change="updateInstantField('dateMaj', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="chapitre-cahier">Cahier</label>
                        <select class="form-control" id="chapitre-cahier" name="cahier" v-model="chapitre.cahier">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="chapitre.cahier && cahierOption.id === chapitre.cahier.id ? chapitre.cahier : cahierOption" v-for="cahierOption in cahiers" :key="cahierOption.id">{{cahierOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.chapitre.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./chapitre-update.component.ts">
</script>
