<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="chapitre">
                <h2 class="jh-entity-heading"><span>Chapitre</span> {{chapitre.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{chapitre.nom}}</span>
                    </dd>
                    <dt>
                        <span>Date Maj</span>
                    </dt>
                    <dd>
                        <span>{{chapitre.dateMaj | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Cahier</span>
                    </dt>
                    <dd>
                        <div v-if="chapitre.cahier">
                            <router-link :to="{name: 'CahierView', params: {cahierId: chapitre.cahier.id}}">{{chapitre.cahier.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="chapitre.id" :to="{name: 'ChapitreEdit', params: {chapitreId: chapitre.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./chapitre-details.component.ts">
</script>
