<template>
    <div>
    <b-button v-if="authenticated" v-b-toggle.sidebar-1 style="height:100%;"><font-awesome-icon icon="arrow-right" /></b-button>
    <b-sidebar width="20%" id="sidebar-1" no-header no-close-on-route-change bg-variant="primary" shadow>
      <template v-slot:default="{ hide }">
        <div class="p-3">
          <h1 id="sidebar-title" class="titre_sidebar">GAPA</h1>
          <h4 class="petit_titre_sidebar">Sud Lorraine</h4>

          <br/>
          <br/>

          <b-nav class="mb-3">



            <b-navbar toggleable variant="primary">

              <b-navbar-brand to="/">
                  <span class="titre_sidebar">Dashboard</span>
              </b-navbar-brand>
              <br/>
              <br/>
              <b-navbar-brand href="#"><span class="titre_sidebar">Mon activité</span></b-navbar-brand>

              <b-navbar-toggle target="navbar-toggle-collapse">
                <template v-slot:default="{ expanded }">
                  <font-awesome-icon v-if="expanded" style="color: white!important;" icon="arrow-up" />
                  <font-awesome-icon v-else style="color: white!important;" icon="arrow-down" />
                  <!--
                  <b-icon v-if="expanded" icon="chevron-bar-up" variant="light" style="color: white!important; position: absolute!important;"></b-icon>
                  <b-icon v-else icon="chevron-bar-down" variant="light"></b-icon>
                  -->
                </template>
              </b-navbar-toggle>

              <b-collapse id="navbar-toggle-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item href="#"><span class="sous_titre_sidebar">Mes applications </span></b-nav-item>
                  <b-nav-item href="#"><span class="sous_titre_sidebar">Mes cahiers de tests</span></b-nav-item>
                  <b-nav-item href="#"><span class="sous_titre_sidebar">Mes campagnes de tests</span></b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>



            <b-navbar v-if="hasAnyAuthority('ROLE_ADMIN')" toggleable variant="primary">
              <b-navbar-brand href="#"><span class="titre_sidebar">Console Admin</span></b-navbar-brand>

              <b-navbar-toggle target="navbar-toggle-collapse2">
                <template v-slot:default="{ expanded }">
                  <font-awesome-icon v-if="expanded" style="color: white!important;" icon="arrow-up" />
                  <font-awesome-icon v-else style="color: white!important;" icon="arrow-down" />
                  <!--
                  <b-icon v-if="expanded" icon="chevron-bar-up" style="color: #ffffff; position:absolute;"></b-icon>
                  <b-icon v-else icon="chevron-bar-down" variant="dark"></b-icon>
                  -->
                </template>
              </b-navbar-toggle>

              <b-collapse id="navbar-toggle-collapse2" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item to="/administration"><span class="sous_titre_sidebar" >Gérer les applications </span></b-nav-item>
                  <b-nav-item to="/administration"><span class="sous_titre_sidebar" >Gérer les utilisateurs</span></b-nav-item>
                  <b-nav-item to="/administration"><span class="sous_titre_sidebar" >Gérer les cahiers de tests</span></b-nav-item>
                  <b-nav-item to="/administration"><span class="sous_titre_sidebar" >Gérer les campagnes</span></b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
          </b-nav>
          <b-button  variant="dark" block @click="hide"><font-awesome-icon icon="arrow-left" /></b-button>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>


<script lang="ts" src="./sidebar.component.ts">
</script>

<style scoped>
    .gros_titre_sidebar{
      color:white!important;
      font-weight: bold;
    }

    .titre_sidebar{
      color:white!important;
    }

    .petit_titre_sidebar{
      color:white!important;
    }

    .sous_titre_sidebar{
      color:white!important;
    }
</style>
