<template>
    <div>
        <h1>Gestion des applications</h1>
        <br/>
        <br/>
        <h3>Les applications et leurs environnements : </h3>
        <table>

        </table>

        <b-tabs v-model="tabIndex" card>
            <b-tab title="Gérer les applications" :title-link-class="linkClass(0)">
                <application></application>
            </b-tab>
            <b-tab title="Gérer les versions" :title-link-class="linkClass(1)">
                <version></version>
            </b-tab>
            <b-tab title="Gerer les déploiements" :title-link-class="linkClass(2)">
                <deploiement></deploiement>
            </b-tab>
            <b-tab title="Gérer les environnements" :title-link-class="linkClass(3)">
                <environnement></environnement>
            </b-tab>
            <b-tab title="Gérer les domaines" :title-link-class="linkClass(4)">
                <domaine></domaine>
            </b-tab>
        </b-tabs>
    </div>
</template>

<script lang="ts" src="./gererApplications.component.ts">

</script>
