<template>
    <div>
        <h2 id="page-heading">
            <span id="environnement-heading">Environnements</span>
            <router-link :to="{name: 'EnvironnementCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-environnement">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Environnement
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && environnements && environnements.length === 0">
            <span>No environnements found</span>
        </div>
        <div class="table-responsive" v-if="environnements && environnements.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateAjout')"><span>Date Ajout</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateAjout'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('estActif')"><span>Est Actif</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'estActif'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('application.id')"><span>Application</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'application.id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('typeEnv.id')"><span>Type Env</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'typeEnv.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="environnement in environnements"
                    :key="environnement.id">
                    <td>
                        <router-link :to="{name: 'EnvironnementView', params: {environnementId: environnement.id}}">{{environnement.id}}</router-link>
                    </td>
                    <td>{{environnement.dateAjout | formatDate}}</td>
                    <td>{{environnement.estActif}}</td>
                    <td>
                        <div v-if="environnement.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: environnement.application.id}}">{{environnement.application.id}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="environnement.typeEnv">
                            <router-link :to="{name: 'TypeEnvView', params: {typeEnvId: environnement.typeEnv.id}}">{{environnement.typeEnv.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'EnvironnementView', params: {environnementId: environnement.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'EnvironnementEdit', params: {environnementId: environnement.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(environnement)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.environnement.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-environnement-heading">Are you sure you want to delete this Environnement?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-environnement" v-on:click="removeEnvironnement()">Delete</button>
            </div>
        </b-modal>
        <div v-show="environnements && environnements.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./environnement.component.ts">
</script>
