<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.environnement.home.createOrEditLabel">Create or edit a Environnement</h2>
                <div>
                    <div class="form-group" v-if="environnement.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="environnement.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="environnement-dateAjout">Date Ajout</label>
                        <div class="d-flex">
                            <input id="environnement-dateAjout" type="datetime-local" class="form-control" name="dateAjout" :class="{'valid': !$v.environnement.dateAjout.$invalid, 'invalid': $v.environnement.dateAjout.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.environnement.dateAjout.$model)"
                            @change="updateInstantField('dateAjout', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="environnement-estActif">Est Actif</label>
                        <input type="checkbox" class="form-check" name="estActif" id="environnement-estActif"
                            :class="{'valid': !$v.environnement.estActif.$invalid, 'invalid': $v.environnement.estActif.$invalid }" v-model="$v.environnement.estActif.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="environnement-application">Application</label>
                        <select class="form-control" id="environnement-application" name="application" v-model="environnement.application">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="environnement.application && applicationOption.id === environnement.application.id ? environnement.application : applicationOption" v-for="applicationOption in applications" :key="applicationOption.id">{{applicationOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="environnement-typeEnv">Type Env</label>
                        <select class="form-control" id="environnement-typeEnv" name="typeEnv" v-model="environnement.typeEnv">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="environnement.typeEnv && typeEnvOption.id === environnement.typeEnv.id ? environnement.typeEnv : typeEnvOption" v-for="typeEnvOption in typeEnvs" :key="typeEnvOption.id">{{typeEnvOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.environnement.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./environnement-update.component.ts">
</script>
