<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="environnement">
                <h2 class="jh-entity-heading"><span>Environnement</span> {{environnement.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Date Ajout</span>
                    </dt>
                    <dd>
                        <span>{{environnement.dateAjout | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Est Actif</span>
                    </dt>
                    <dd>
                        <span>{{environnement.estActif}}</span>
                    </dd>
                    <dt>
                        <span>Application</span>
                    </dt>
                    <dd>
                        <div v-if="environnement.application">
                            <router-link :to="{name: 'ApplicationView', params: {applicationId: environnement.application.id}}">{{environnement.application.id}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span>Type Env</span>
                    </dt>
                    <dd>
                        <div v-if="environnement.typeEnv">
                            <router-link :to="{name: 'TypeEnvView', params: {typeEnvId: environnement.typeEnv.id}}">{{environnement.typeEnv.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="environnement.id" :to="{name: 'EnvironnementEdit', params: {environnementId: environnement.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./environnement-details.component.ts">
</script>
