<template>
    <div>
        <h1>Graphique de type Bar : </h1>
        <BarChart ref="barChart" :height="200"></BarChart>
    </div>

</template>

<script>
    import BarChart from './barChart.js';

    export default {


        components: {
            BarChart
        },

        created(){
            var texts = ['IMS','SMS','DxPlanning','Prescription','Bloc'];
            var values = [15,23,26,39,9];
            this.displayChart(texts, values)
        },

        methods: {

            mounted(){
                this.displayChart()
            },

            displayChart (texts, values){
                console.log("hello");

                this.$nextTick(() => {
                    this.$refs.barChart.loadData(texts, values)
                })
            }
        }
    }
</script>
