<template>
    <div>
        <h1>Graphique de type Line : </h1>
        <LineChart ref="lineChart" :height="200"></LineChart>
    </div>

</template>

<script>
    import LineChart from './lineChart.js';

    export default {


        components: {
            LineChart
        },

        created(){
            var texts = ['IMS','SMS','DxPlanning','Prescription','Bloc'];
            var values = [15,23,26,39,9];
            this.displayChart(texts, values)
        },

        methods: {

            mounted(){
                this.displayChart()
            },

            displayChart (texts, values){
                console.log("hello");

                this.$nextTick(() => {
                    this.$refs.lineChart.loadData(texts, values)
                })
            }
        }
    }
</script>
