<template>
    <div>
        <h1>Graphique de type Pie : </h1>
        <PieChart ref="pieChart" :height="200"></PieChart>
    </div>

</template>

<script>
    import PieChart from './pieChart.js';

    export default {


        components: {
            PieChart
        },

        created(){
            var texts = ['IMS','SMS','DxPlanning','Prescription','Bloc'];
            var values = [15,23,26,39,9];
            this.displayChart(texts, values)
        },

        methods: {

            mounted(){
                this.displayChart()
            },

            displayChart (texts, values){
                console.log("hello");

                this.$nextTick(() => {
                    this.$refs.pieChart.loadData(texts, values)
                })
            }
        }
    }
</script>
