<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.cahier.home.createOrEditLabel">Create or edit a Cahier</h2>
                <div>
                    <div class="form-group" v-if="cahier.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="cahier.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="cahier-nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="cahier-nom"
                            :class="{'valid': !$v.cahier.nom.$invalid, 'invalid': $v.cahier.nom.$invalid }" v-model="$v.cahier.nom.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="cahier-dateMaj">Date Maj</label>
                        <div class="d-flex">
                            <input id="cahier-dateMaj" type="datetime-local" class="form-control" name="dateMaj" :class="{'valid': !$v.cahier.dateMaj.$invalid, 'invalid': $v.cahier.dateMaj.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.cahier.dateMaj.$model)"
                            @change="updateInstantField('dateMaj', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="cahier-domaine">Domaine</label>
                        <select class="form-control" id="cahier-domaine" name="domaine" v-model="cahier.domaine">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="cahier.domaine && domaineOption.id === cahier.domaine.id ? cahier.domaine : domaineOption" v-for="domaineOption in domaines" :key="domaineOption.id">{{domaineOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.cahier.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./cahier-update.component.ts">
</script>
