<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="cahier">
                <h2 class="jh-entity-heading"><span>Cahier</span> {{cahier.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom</span>
                    </dt>
                    <dd>
                        <span>{{cahier.nom}}</span>
                    </dd>
                    <dt>
                        <span>Date Maj</span>
                    </dt>
                    <dd>
                        <span>{{cahier.dateMaj | formatDate}}</span>
                    </dd>
                    <dt>
                        <span>Domaine</span>
                    </dt>
                    <dd>
                        <div v-if="cahier.domaine">
                            <router-link :to="{name: 'DomaineView', params: {domaineId: cahier.domaine.id}}">{{cahier.domaine.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="cahier.id" :to="{name: 'CahierEdit', params: {cahierId: cahier.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./cahier-details.component.ts">
</script>
