<template>
    <div>
        <h2 id="page-heading">
            <span id="cahier-heading">Cahiers</span>
            <router-link :to="{name: 'CahierCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cahier">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Cahier
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && cahiers && cahiers.length === 0">
            <span>No cahiers found</span>
        </div>
        <div class="table-responsive" v-if="cahiers && cahiers.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nom')"><span>Nom</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('dateMaj')"><span>Date Maj</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateMaj'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('domaine.id')"><span>Domaine</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'domaine.id'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cahier in cahiers"
                    :key="cahier.id">
                    <td>
                        <router-link :to="{name: 'CahierView', params: {cahierId: cahier.id}}">{{cahier.id}}</router-link>
                    </td>
                    <td>{{cahier.nom}}</td>
                    <td>{{cahier.dateMaj | formatDate}}</td>
                    <td>
                        <div v-if="cahier.domaine">
                            <router-link :to="{name: 'DomaineView', params: {domaineId: cahier.domaine.id}}">{{cahier.domaine.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'CahierView', params: {cahierId: cahier.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'CahierEdit', params: {cahierId: cahier.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(cahier)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.cahier.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-cahier-heading">Are you sure you want to delete this Cahier?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-cahier" v-on:click="removeCahier()">Delete</button>
            </div>
        </b-modal>
        <div v-show="cahiers && cahiers.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./cahier.component.ts">
</script>
