<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="gapaApp.etablissement.home.createOrEditLabel">Create or edit a Etablissement</h2>
                <div>
                    <div class="form-group" v-if="etablissement.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="etablissement.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="etablissement-nomEtab">Nom Etab</label>
                        <input type="text" class="form-control" name="nomEtab" id="etablissement-nomEtab"
                            :class="{'valid': !$v.etablissement.nomEtab.$invalid, 'invalid': $v.etablissement.nomEtab.$invalid }" v-model="$v.etablissement.nomEtab.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.etablissement.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./etablissement-update.component.ts">
</script>
