<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="etablissement">
                <h2 class="jh-entity-heading"><span>Etablissement</span> {{etablissement.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span>Nom Etab</span>
                    </dt>
                    <dd>
                        <span>{{etablissement.nomEtab}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
                </button>
                <router-link v-if="etablissement.id" :to="{name: 'EtablissementEdit', params: {etablissementId: etablissement.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./etablissement-details.component.ts">
</script>
