<template>
    <div>
        <h2 id="page-heading">
            <span id="etablissement-heading">Etablissements</span>
            <router-link :to="{name: 'EtablissementCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etablissement">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span >
                    Create a new Etablissement
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && etablissements && etablissements.length === 0">
            <span>No etablissements found</span>
        </div>
        <div class="table-responsive" v-if="etablissements && etablissements.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span>ID</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator></th>
                    <th v-on:click="changeOrder('nomEtab')"><span>Nom Etab</span> <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nomEtab'"></jhi-sort-indicator></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="etablissement in etablissements"
                    :key="etablissement.id">
                    <td>
                        <router-link :to="{name: 'EtablissementView', params: {etablissementId: etablissement.id}}">{{etablissement.id}}</router-link>
                    </td>
                    <td>{{etablissement.nomEtab}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'EtablissementView', params: {etablissementId: etablissement.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline">View</span>
                            </router-link>
                            <router-link :to="{name: 'EtablissementEdit', params: {etablissementId: etablissement.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(etablissement)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="gapaApp.etablissement.delete.question">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-etablissement-heading">Are you sure you want to delete this Etablissement?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-etablissement" v-on:click="removeEtablissement()">Delete</button>
            </div>
        </b-modal>
        <div v-show="etablissements && etablissements.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./etablissement.component.ts">
</script>
