<template>
    <div class="home row">

        <div class="col-md-1">

        </div>
        <!--
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
            <p class="lead" v-if="username">Vous êtes connectés en tant que "{{username}}"</p>
        </div>
        -->
        <div class="col-md-12">
            <div class="" v-if="!authenticated">
                <h1 class="display-4">Bienvenue sur l'application GAPA !</h1>

                <br/>

                <p class="lead">Vous n'êtes actuellement pas connecter.</p>

                <br/>
                <p class="lead">Pour accéder aux fonctionnalités de l'application, veuillez vous connecter.</p>
            </div>

            <b-container fluid v-if="authenticated" class="bv-example-row">
                <b-row align-h="start">
                    <b-col cols="2" class="bg-bleu-clair">

                    <listeAppliDashboard @choixAppli="choisirAppli($event)" @choixAppliId="choisirAppliId($event)"></listeAppliDashboard>

                        <!--
                        <table>
                            <thead>
                                <tr>
                                <th class="titre_tableau_appli"><span>Application</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="application in applications"
                                :key="application.id" >
                            <td>{{application.nom}}</td>
                            </tr>
                        </tbody>
                        </table>
                        -->

                    </b-col>
                    <b-col class="class-col-test">
                        <b-row align-h="start">
                            <!--Faire un composant pour les informations en haut a droite du dashboard -->
                            <b-col class="bg-bleu-clair">
                                <infosDashboard></infosDashboard>
                            </b-col>
                        </b-row>
                        <b-row align-h="start">
                            <b-col class="bg-bleu-clair">
                                <choixEnvironnement :choixAppli="choixAppli" :choixAppliId="choixAppliId" @choixAppliId="choisirAppliId(choixAppliI)"></choixEnvironnement>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>

                <b-row align-h="center">
                    <b-col class="bg-bleu-clair">
                        <tableauEnvironnements></tableauEnvironnements>
                    </b-col>
                    <b-col class="bg-bleu-clair">
                        <tableauCampagnes></tableauCampagnes>
                    </b-col>
                </b-row>

                <b-row align-h="end">
                    <b-col class="bg-bleu-clair">
                        <tableauAnomalies></tableauAnomalies>
                    </b-col>
                    <b-col class="bg-bleu-clair">
                        <graphiqueDemandesDashboard></graphiqueDemandesDashboard>
                    </b-col>
                </b-row>

            </b-container>





            <!--
            <div>
                <div class="alert alert-success" v-if="authenticated">
                    <span v-if="username">You are logged in as user "{{username}}"</span>
                </div>

                <div class="alert alert-warning" v-if="!authenticated">
                    <span>If you want to </span>
                    <a class="alert-link" v-on:click="openLogin()">sign in</a><span >, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>
                <div class="alert alert-warning" v-if="!authenticated">
                    <span>You don't have an account yet?</span>&nbsp;
                    <router-link class="alert-link" to="/register">Register a new account</router-link>
                </div>
            </div>

            <p>
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
                <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
            </p>
            -->

        </div>
    </div>
</template>

<script lang="ts" src="./home.component.ts">
</script>


<style scoped>

    .bg-bleu-clair{
        background-color: rgba(133, 196, 241, 0.13)!important;
        margin: 10px!important;
        padding: 15px 15px!important;

    }

    .titre_tableau_appli {
        background-color: rgba(56,66,133)!important;
        color: white!important;
        border-radius: 5px 5px 0px 0px;
    }

    td{
        border-style:solid;
        border-width: 1px!important;
        border-color:black!important;
    }

    th,td {
    min-width: 120px;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    }
</style>
